body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    font-size: 18px;
}
.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background-color: pink;
}
header > .container{
    background-color: white;
    overflow: hidden;
    padding: 20px;
}
header > .container > h1{
    font-size: 18px;
    display: flex;
    float: left;    
    padding: 6px;
}
ul{
    list-style-type: none;
    display: flex;
    float: right;
}
li a{
    font-size: 18px;
    font-weight: bold;
    color: #6b7280;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    color: #5A67D8;
}
.learn-about > .container > h2{
    font-size: 24px;
    color: #48BB78;
}
.overview-hero > .container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 250px;
    justify-content: center;
    padding: 20px;
}
.container > .overview-hero-image{
    width: 100px;
    height: 100px; 
}
.container > .overview-hero-text{
    display: block;
}
.learn-about > .container{
    padding: 20px;
}
.container > .cards{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 20px;
}    
.card{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 1px 2px 0px;
    border:1px;
    border-color: #E2E8F0;
    border-radius: 5px;
}
.card > .card-body > h3{
    font-size: 21px;
    color: #48BB78;
}
.card > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
 }
.testing > .container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #4A5568;
    color: white;
    padding: 20px;
}
.article-body{
    padding: 50px;
}
.cta{
    background-color: #48BB78;
    border-radius: 5px;
    padding: 20px 50px;
    margin: 60px 70px;
}
.btn{
    text-decoration: none;
    color: white;
    font-size: large;
    text-align: center;
}
article{
    display: flex;
    column-gap: 20px;
    padding-left: 40px;
    padding-right: 80px;
}
.article-body{
    float: right;
}
.stories > .container{
    padding: 20px;
}
.stories > .container >h2{
    color: #5A67D8;
    margin-top: 80px;
    padding-left: 80px;
}
.article-body a{
    color: #5A67D8;
    text-decoration: none;
}
.article-body > h3{
    font-size: 18px;
}
article > img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    padding:30px;
}
.newsletter > .container{
    align-items: center;
    text-align: center;
    background-color: #48BB78;
    color: white;
    padding: 20px;
}
div > input{
    border-radius: 5px;
    padding: 20px 50px;
    display: flex;
    float: left;
}
form > button{
    background-color: #5A67D8;
    padding: 15px 10px;
    border-radius: 5px;
}
.form-group{
    display: flex;
    justify-content: center;
}
footer > .container{
    background-color: #4A5568;
    color: white;
    padding: 20px;
}
 